<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
    p {
        color: #000;
        text-align: center;
    }
    footer {
        color: orange;
        text-align: center;
    }
</style>
<body>
<p th:text="'You have successfully reached the TEST PAGE'"/>
<div>
    <footer>
        <p>
            <a href="index.html">HOME PAGE</a>
        </p>
    </footer>
</div>
</body>
</html>